{% extends 'origin.html' %}
{% block content %}
<div class="col col vh-100 m-3 d-flex flex-column">
    <form method="post">{% csrf_token %}
    <h3 class="text-center">로 그 인</h3>
    <table class="table" style="width:50%;" align="center">
        <tr align="center">
            <th class="align-middle">아이디</th>
            <td><input type='text' class="form-control" name='username'></td>
        </tr>
        <tr align="center">
            <th class="align-middle">암호</th>
            <td><input type='password' class="form-control" name='password'></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="로그인" class="btn btn-success" style="width:100px">
                <input type="reset" value="취소" class="btn btn-danger" style="width:100px">
                <input type="button" value="회원가입" class="btn btn-secondary"
                onclick="location.href='/register/'" style="width:100px">
            </td>
        </tr>
    </table>
    </form>
</div>    
{% endblock %}